#logo{
  height:80px;
  width: 80px;
}
#section1{
  padding: 100px;
  height: 700px;
  color: white;
  background: url(../images/mitchell-griest-ARBBUlj-6Es-unsplash.jpg)no-repeat;
  background-size: cover;

}
.form_{
  display: none;
}
.call_to_action{
  display:
}
#location{
  display: none;
}
.response{
  color: black;
  display: none;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
